Package: com.nactro.vpnswitch
Name: VPN 快捷开关
Depends: mobilesubstrate,com.opa334.ccsupport
Version: 1.1.0
Architecture: iphoneos-arm
Description: VPN快捷开关
Maintainer: Nacro
Author: Nacro
Section: Control Center (Modules)
